/* Core Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color: #393E41;
    background: #F6F7EB
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 1em 0;
}

a {
    text-decoration: none
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    background: #e62739;
    color: #F6F7EB;
    padding: .5em 1em;
    border: 1px solid #e62739;
    margin: 0.5em 0;
    transition: all .5s ease-in-out; 
}

.btn:hover {
    background: #F6F7EB;
    color: #e62739;
}

.content-wrap p {
    font-size: 1.1em;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}


/* Home page */

body.home {
    background: #393E41;
    color: #F6F7EB;
    text-align: center;
}


/* Header Showcase */

.showcase {
    min-height: 100vh;
}

.showcase .bg-image {
    position: absolute;
    background: url("../img/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.4;
}

.showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

.showcase .content-wrap,
.intro .content-wrap {
    padding: 0 1.5em;
}


/* navbar */

.navbar {
    border: 1px solid #393E41;
    background-color: #f1f3e0;
    margin-bottom: 1em;
}

.home .navbar {
    margin-bottom: 0;
}

.navbar a {
    color: #393E41;
    padding: .35em 1em;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.navbar .brand {
    margin: 0;
    font-size: 1.45em;
}

.navbar ul {
    margin: 0 0 0.5em;
}

.navbar ul a:hover {
    color: #5d656a;
}


/* intro */

.intro {
    background: #F6F7EB;
    color: #393E41;
    padding-bottom: 2em;
}


/* top-3 */

.top-3 {
    padding: 2em 1em 1em;
}

.top-3 li {
    margin-bottom: 1em;
    background: #F6F7EB;
    color: #393E41;
}

.top-3 .content-title {
    margin-bottom: 1em;
}

.top-3 .card-content {
    padding: 1.5em;
}

.top-3 .btn {
    border-radius: 2em;
}


/* other-langs */

.other-langs {
    background: #F6F7EB;
    color: #393E41;
    padding: 2em;
}

.other-langs .content-title+p {
    margin-bottom: 4em;
}

.other-langs .content-title+p small {
    margin-top: 1em;
    display: block;
}


/* languages-list */

.languages-list .lang {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(57,62,65, 0.25);
}

.testimonials {
    background: url('../img/testimonials.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding: 13em 0;
}

.testimonials .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #F6F7EB;
    background-color: rgba(57,62,65, .85);
}

.testimonials h2 {
    font-size: 2em;
    margin: 1em 0 .5em;
}

.testimonials q {
    font-size: 1.3em;
    line-height: 2;
    color: #F6F7EB;
    display: block;
    margin-bottom: 1em;
}

.testimonials span {
    display: block;
    font-size: 2em;
    color: #e62739;
}

.testimonials .slider>div {
    display: none;
}

.testimonials .slider>.active {
    display: block;
}


/* Boxes */

.boxes .box {
    padding: 2em;
    color: #F6F7EB;
}

.boxes .box:first-child {
    background: #e62739;
}


/* Footer */

.main-footer {
    padding: 2em 0 2.5em;
    background: #393E41;
    color: #F6F7EB;
    text-align: center;
}

.main-footer a {
    color: #e62739;
    text-decoration: none;
}


/* languages pages */

.language .img {
    margin-bottom: 1em;
}

.language h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

.language .txt p {
    padding: .25em;
    margin-bottom: .5em;
}

.language .txt ul {
    list-style: circle;
    margin-left: 2em;
}

.language .txt .description {
    margin: 1em 0 3em;
}


/* Contact us */

.contact-wrapper {
    border: 1px #393E41 solid;
    margin-bottom: 1em;
}

.contact-wrapper>* {
    padding: 1em;
}

.company-info {
    background: #e62739;
}

.company-info>* {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #F6F7EB;
}

.contact label {
    margin-bottom: .5em;
}


/* FORM STYLES */

.contact form label {
    display: block;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #697277;
}

.contact form button {
    background: #e62739;
    color: #F6F7EB;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
    background: #c31727;
    outline: 0;
    transition: background-color 1s ease-out;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .navbar .container,
    .navbar ul {
        display: flex;
    }
    .navbar .container {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        padding: 0em 1em;
    }
    .showcase h1 {
        padding-top: 30vh;
        padding-bottom: 0;
    }
    .contact-wrapper>* {
        padding: 2em;
    }
    .contact-wrapper .contact div {
        margin-bottom: 1em;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .navbar .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .intro .content-text p {
        padding-top: 0;
    }
    .boxes .box,
    .main-footer div {
        width: 50%;
        float: left;
    }
    .boxes .box {
        height: 21em;
    }
    .top-3 ul {
        display: table;
        border-spacing: .35em;
    }
    .top-3 li {
        display: table-cell;
        width: 32%;
        transition: all 1s ease-in-out;
    }
    .top-3 li:hover {
        transform: scale(1.05);
    }
    .languages-list .lang img {
        width: 25%;
    }
    .languages-list .lang:nth-child(even) {
        text-align: right;
    }
    .languages-list .lang:nth-child(even) img {
        float: left;
        margin-right: 3em;
    }
    .languages-list .lang:nth-child(odd) {
        text-align: left;
    }
    .languages-list .lang:nth-child(odd) img {
        float: right;
        margin-left: 3em;
    }
    .languages-list .lang:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .languages-list .lang p {
        padding: 0 .25em;
    }
    .languages-list .lang img {
        max-height: 16em;
    }
    /*  */
    .testimonials {
        padding: 10em 0;
    }
    /* languges page */
    .language .img {
        float: right;
        width: 30%;
    }
    .language .txt {
        width: 60%;
        float: left;
    }
    /* contact page */
    .contact-wrapper {
        display: table;
        width: 100%;
    }
    .contact-wrapper>* {
        display: table-cell;
    }
    .company-info {
        width: 33%;
    }
    .contact {
        width: 67%;
    }
    .contact form>div {
        width: 49%;
        margin-right: 2%;
        float: left;
    }
    .contact form>div:nth-child(even) {
        margin-right: 0;
    }
    .contact form .full {
        width: 100%;
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}